#include <winver.h>
#include <windows.h>

1 VERSIONINFO
FILEVERSION 0,2,0,0
PRODUCTVERSION 0,2,0,0
FILEOS VOS_NT_WINDOWS32
FILETYPE VFT_APP

BEGIN

	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "040C04E4"
		BEGIN
			VALUE "Comments", "http://shenmuesubs.sf.net/\0"
			VALUE "CompanyName", "Shentrad Team\0"
			VALUE "FileDescription", "Shenmue Yamaha AICA ADPCM Stream to Generic Header Converter\0"
			VALUE "FileVersion", "0.2.0.0"
			VALUE "InternalName", "str2genh.exe\0"
			VALUE "LegalCopyright", "© Copyleft 2006-2014\0"
			VALUE "OriginalFilename", "str2genh.exe\0"
			VALUE "ProductName", "STR2GENH\0"
			VALUE "ProductVersion", "0.2.0.0"
		END
	END

	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 1036, 1252
	END

END
