LANGUAGE LANG_FRENCH, SUBLANG_FRENCH
LANGUAGE LANG_NEUTRAL, SUBLANG_SYS_DEFAULT

1 VERSIONINFO
 FILEVERSION 1,2,2,0
 PRODUCTVERSION 1,2,2,0
 FILEFLAGSMASK 0x3fL
 FILEFLAGS 0x0L
 FILEOS 0x4L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040C04E4"
        BEGIN
            VALUE "CompanyName", "Shentrad Team\0"
            VALUE "FileDescription", "Shenmue IDX Creator (Console Version)\0"
            VALUE "FileVersion", "1.2.2.0\0"
            VALUE "InternalName", "IDX Creator Console\0"
            VALUE "LegalCopyright", "© Copyleft 2006-2013\0"
            VALUE "LegalTrademarks", "Shenmue is copyrighted SEGA © 1999, 2001\0"
            VALUE "OriginalFilename", "idxmaker.exe\0"
            VALUE "ProductName", "Shenmue Translation Pack\0"
            VALUE "ProductVersion", "1.2\0"
            VALUE "Comments", "http://shenmuesubs.sf.net/\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation",  0x040C 0x04E4
    END
END

